        %table.table.charts-css.bar.show-labels.show-primary-axis
          %thead
            %tr
              %th
              %th{scope:"col"}
                number of votes obtained
          %tbody