.container
  .row.mx-auto
    %h1.col-12
      Your Profile
    .col-6
      .flex-column
        .d-flex

        .d-flex
          %p name:
          = current_user.name
        .d-flex
          %p introduction:
          = current_user.introduction
        .d-flex
          = link_to edit_user_path(current_user) do
            %strong edit profile
        .d-flex
          = link_to  user_jeans_index_path(user_id: current_user) do
            %strong view your jeans
