.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-4
      %h3.text-gray
        Your Posts
      - @posts.each do |post|
        .card
          %svg.bd-placeholder-img.card-img-top.100.180
            = image_tag post.image.url,  size: "200x230"
          .card-body
            %h5.card-title
              Card title
            %p.card-text
              Some quick example text to build on the card title and make up the bulk of the card's content.
