.container-fluid
  .row
    = render 'layouts/sidebar'
    .col-9.flex-wrap
      .other-jeans-images
        - @posts.each do |post|
          = link_to post_path(post) do
            = image_tag post.image.url, class: "other-jeans-image"


