
.col-3.mt-5
  %h3.mt-5
    = link_to others_path, class: "text-decoration-none text-dark" do
      All Posts
  %h3.mt-5
    = link_to posts_path, class: "text-decoration-none text-dark" do
      Your Posts
  %h3.mt-5
    = link_to my_page_path, class: "text-decoration-none text-dark" do
      Awards